<div class="col-sm-auto col-lg-auto">
    <div class="row justify-content-center">
        <div class="d-flex flex-row justify-content-center">
            <div id="@Model.GetElementId()" class="map-container" data-bs-toggle="tooltip" data-bs-placement="top" title="@Model.Influence.GetDescription()" >
                <img class="underlay medium-image" src="@Model.GetBase()" />
                <img class="overlay medium-image @Model.GetTierStyle()" src="@Model.GetGlyph()" />                   
            </div>            
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="d-inline-flex flex-row justify-content-center normal small map-name">
            @Model.Name @(Model.MinimumTier > 0 ? $"(T{Model.MinimumTier}+)" : "")
        </div>
    </div>      
</div>

@code {
    [Parameter]
    public Map Model { get; set; }    
}
