<div class="row align-items-center">
    @if (Node.Components.Any())
    {
        @if (Node.IsCompleted)
        {
            <div class="d-inline-flex align-items-center @isCompleted" align="center" @onclick="OnClick">                        
                <img class="archnemesis-icon medium-image" src="images/archnemesis/@(Node.Image)" />
                <span class="mod-name small">@Node.Name</span>
            </div>
        }
        else
        {
            <div class="col-4 mod-name small no-wrap @isCompleted" align="center" @onclick="OnClick">                        
                <img class="archnemesis-icon" src="images/archnemesis/@(Node.Image)" /><br/>
                @Node.Name
            </div>
            <div class="col-8 @isCompleted">
                @foreach (var child in Node.Components)
                {
                    <RecipeNode @key="child" Node="child" CompletedStateChanged=CompletedStateChanged></RecipeNode>
                }
            </div>
        }
    }
    else
    {
        <div class="col-auto mod-name no-wrap @isCompleted" @onclick="OnClick">
            <img class="archnemesis-icon medium-image" src="images/archnemesis/@(Node.Image)">
            @Node.Name
        </div>    
    }
</div>

@code {
    [Parameter]
    public RecipeComponentViewModel Node { get; set; }
    [Parameter]
    public EventCallback CompletedStateChanged { get; set; }

    public async void OnClick(MouseEventArgs e)
    {
        Node.IsCompleted = !Node.IsCompleted;
        await CompletedStateChanged.InvokeAsync();
    }

    private string isCompleted => Node.IsCompleted ? "completed" : "";
}