@using AutoMapper
@inject IJSRuntime JSRuntime
@inject IMapper _mapper
@inject ILocalStorageService _localStore

<div class="row align-items-center mx-1 mb-2">
    <div class="col-8">
        @if (!recipe.SelectedMods.Any())
        {
            <div class="row">
                <span class="rewards">Select 1 to 4 mods from the list on the left, or import a recipe</span>
            </div>
            <div class="row pt-2">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-term" autocomplete="off" @bind="importString" @bind:event="oninput" placeholder="Enter an import string">
                    <button class="btn btn-secondary" type="button" @onclick="() => Import(importString)">Import</button>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <h5 class="rewards">Selected Mods:</h5>
            </div>
            <div class="row justify-content-start">
                @foreach (var mod in recipe.SelectedMods)
                {
                    <div class="col-3" align="center">                        
                        <img src="images/archnemesis/@(mod.Image)" @onclick="() => SelectMod(mod)" @onmouseup="() => FindMod.InvokeAsync(mod.Name)" data-bs-toggle="tooltip" data-bs-placement="top" title="@mod.Name" /><br/>
                        <span class="@(ArchnemesisModViewModel.GetColour(mod.ModTier)) small">@mod.Name</span>
                    </div>
                }
            </div>                          
        }                       
    </div>
    <div class="col-4">
        <div class="row justify-content-end">
            <div class="col-md-auto">
            @if(recipe.SelectedMods.Any())
            {
                <button class="btn btn-secondary" type="button" @onclick="Export">Export</button>
                <button class="btn btn-secondary" type="button" @onclick="Clear">Clear</button>
            }
            </div>
        </div>
    </div>
</div> 
@if(recipe.SelectedMods.Any())
{   
    <div class="px-3 pb-2">
        <RewardsCalculator Recipe="recipe" />
        
        @*How to build*@
        <ul class="recipe-tabs nav nav-tabs">
            @foreach (var tab in (RecipeTab[])Enum.GetValues(typeof(RecipeTab)))
            {
                <li class="nav-item" @onclick="() => _activeTab = tab">
                    <span class="nav-link @getTabIsActive(tab)">@tab.GetDescription()</span>
                </li>                    
            }
        </ul>
    </div>         
    <div class="tree">
        <div style="@(_activeTab == RecipeTab.BuildTree ? "" : "display: none;")">                
        @foreach (var c in recipe.SelectedMods)
        {
            <RecipeNode @key="c" Node="c" CompletedStateChanged=UpdateSavedRecipe FindMod=FindMod />
        }
        </div>

        <ul class="py-2 m-0" style="@(_activeTab == RecipeTab.T1ModCount ? "" : "display: none;")">                
        @foreach (var (mod, count) in recipe.GetComponents().OrderBy(x => x.Key.Name))
        {
            <li>
                @count x<img src="images/archnemesis/@mod.Image" class="archnemesis-icon small-image pr-2" /><span class="mod-name">@mod.Name</span>
            </li>
        }
        </ul>
        <ol class="list-group" style="@(_activeTab == RecipeTab.ArchnemesisMods ? "" : "display: none;")">
            @for (var i = 0; i < recipe.SelectedMods.Count; i++)
            {
                var mods = recipe.SelectedMods.Take(i + 1);
                <li class="list-group-item d-flex">
                    <div class="ms-2 me-auto">
                        <div class="text-decoration-underline mod-name">Monster @(i + 1)</div>
                        <div class="d-flex flex-column">
                            @foreach (var mod in mods.Select(x => x.Mod))
                            {
                                <span class="mod">@mod</span>
                            }
                        </div>
                    </div>
                </li>                
            }
        </ol>        

        <ol class="list-group" style="@(_activeTab == RecipeTab.Details ? "" : "display: none;")">
            @foreach (var mod in recipe.SelectedMods)
            {
                <li class="list-group-item d-flex">
                    <div class="container">
                        <ModDetails Model="@(Mods.SingleOrDefault(x => x.Name == mod.Name))" />
                    </div>
                </li>                
            }
        </ol>
    </div>
}         

@code {
    [Parameter]
    public List<ArchnemesisModViewModel> Mods { get; set; }

    [Parameter]
    public EventCallback<string> FindMod { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();        
    }    

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (!_hasLoadedFromLocalStore && Mods.Count > 0)
        {
            _hasLoadedFromLocalStore = true;
            // find an existing import
            if (await _localStore.ContainKeyAsync("recipe"))
            {
                var savedRecipe = await _localStore.GetItemAsStringAsync("recipe");
                Import(savedRecipe);
            }
        }
    }

    public void SelectMod(ArchnemesisModViewModel mod)
    {
        var viewModel = recipe.SelectedMods.SingleOrDefault(x => x.Name == mod.Name) ?? _mapper.Map<RecipeComponentViewModel>(mod);
        SelectMod(viewModel);
    }

    public void SelectMod(RecipeComponentViewModel mod)
    {
        if (!recipe.SelectedMods.Contains(mod))
        {
            if (recipe.SelectedMods.Count < 4)
            {
                recipe.AddMod(mod);        
            }            
        }               
        else if (recipe.SelectedMods.Contains(mod))
        {
            recipe.RemoveMod(mod);
        }
        UpdateSavedRecipe();
    }

    private RecipeTab _activeTab = RecipeTab.BuildTree;
    private bool _hasLoadedFromLocalStore = false;
    private RecipeViewModel _recipe = new();
    private string _importString;
    private RecipeViewModel recipe
    {
        get => _recipe;
        set
        {
            _recipe = value;
            if (value is not null)
            {
                UpdateSavedRecipe();                
            }               
        }
    }
    private string importString
    {
        get => _importString;
        set 
        {
            if (TryParseImportString(value, out _))
            {
                _importString = value;       
            }
            else
            {
                _importString = string.Empty;
            }
        }
    }

    private string getTabIsActive(RecipeTab tab) => tab == _activeTab ? "active" : "";

    private async void UpdateSavedRecipe()
    {
        await _localStore.SetItemAsStringAsync("recipe", _recipe.Export());        
    }   

    public async Task Clear()
    {
        recipe.SelectedMods.Clear();
        if (await _localStore.ContainKeyAsync("recipe"))
        {
            await _localStore.RemoveItemAsync("recipe");
        }
    }

    private void Import(string importString)
    {
        Import(TryParseImportString(importString, out var import) ? import : null);
        this.importString = null;
    }  

    private void Import(RecipeViewModel importedRecipe)
    {
        if (importedRecipe is not null)
        {
            importedRecipe.Map(Mods);            
            recipe = importedRecipe;
        }        
    }

    private bool TryParseImportString(string importString, out RecipeViewModel result)
    {
        result = new RecipeViewModel();        
        try
        {
            result.Import(importString);
            return true;
        }
        catch
        {
            result = null;
            return false;
        }
    }

    private async Task Export()
    {
        var exportString = recipe?.Export();
        if (!string.IsNullOrEmpty(exportString))
        {
            await JSRuntime.InvokeVoidAsync("copyClipboard", exportString);
        }
    }    
}